.featuresList {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.featuresList > * {
    text-align: left;
}

.featuresList > li {
    display: flex;
    padding: 1.7rem;
}

.featuresList p {
    line-height: 1.5;
}

.featuresList img {
    width: 8rem;
    margin-right: 1.5rem;
}

.featuresList h3 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
