.logo {
    height: auto;
    width: 31rem;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.padding {
    padding: 2rem;
}

.bold {
    font-weight: bold;
}