.footerContainer {
    background-color: #F5F5F5;
    padding: 64px 32px;
    color: #545759;
}

.footerContainer li, .socialLinks a {
    color: #1c1c1c;
}

.contact > *:not(:last-child) {
    margin-bottom: 1rem;
}

.socialLinks > *:not(:last-child) {
    margin-right: 1rem;
}

