.banner {
    background-image: url('./assets/banner.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 72vh;
}

.banner:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(137,141,144,.3);
}

.content {
    position: relative;
}