.mainContainer {
    padding: 96px 32px;
    color: #545759;
}

.h2 {
    line-height: 1.3;
    font-size: 2.6rem;
}

.desc {
    padding: 0 3rem;
}

.desc > *:not(:last-child) {
    margin-bottom: 3rem;
}

.featuresList {
    margin-top: 4rem;
}

.featuresList > * {
    text-align: left;
}