.mainContainer {
    padding: 96px 32px;
    color: #545759;
}

.h2 {
    line-height: 1.3;
    font-size: 2.5rem;
}

.desc {
    padding: 0 3rem;
}

.desc > *:not(:last-child) {
    margin-bottom: 3rem;
}

.learnMore h2 {
  margin: 3rem 0 6rem;  
}

.learnMore a {
    font-size: 2rem;
}