.mainContainer {
    padding: 96px 32px;
    color: #545759;
}

.h2 {
    line-height: 1.3;
    font-size: 2.5rem;
}

.desc {
    padding: 0 3rem;
}

.desc > *:not(:last-child) {
    margin-bottom: 3rem;
}

.featuresList {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.featuresList > * {
    text-align: left;
}

.featuresList > li {
    display: flex;
}

.featuresList img {
    width: 10rem;
    margin-right: 1rem;
}

.featuresList h3 {
    font-size: 2.5rem;
}
