.logo {
    height: auto;
    width: 31rem;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navButton {
    margin-left: 3rem;
}

.padding {
    padding: 2rem;
}

.bold {
    font-weight: bold;
}